<%- include('./head') %>
<style>
    .main {
        width: 100%;
    }

    .main .content {
        width: 500px;
        margin: 0 auto;
        padding: 20px 30px;
    }

    .main .content .text {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .main .content .form {
        width: 100%;
    }

    .main .content .form input {
        display: block;
        width: 100%;
        font-size: 16px;
        padding: 5px 10px;
        outline: none;
        margin-bottom: 10px;
    }

    .main .content .form .button {
        width: 150px;
        margin: 0 auto;
        padding: 10px;
        color: white;
        background-color: rgb(17, 45, 80);
        border: none;
    }

</style>
</head>
<body>

    <%- include('./navigation') %>

    <div class="main">
        <div class="content">
            <div class="text">Create an Admin account</div>
            <form class="form" action="/adminSignup" method="POST">
                <input type="text" name="name" autocomplete="off" placeholder="Name">
                <input type="email" name="email" autocomplete="off" placeholder="Email">
                <input type="password" name="password" autocomplete="off" placeholder="Password">
                <input class="button" type="submit" value="Signup">
            </form>
        </div>
    </div>

    <% if (error) { %>
    <div class="error"><%= error %></div>
    <% } %>


</body>
</html>