<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boron</title>
</head>
<body>
    
    <h1 class="primary-heading">Boron</h1>

    <p>Signup</p>

    <form action="api/user/signup" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email"></br>
        <label for="password">Password</label>
        <input type="text" name="password"></br>
        <input type="submit">
    </form>

    <p><%= error %></p>

    <p>Login</p>

    <form action="api/user/login" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email"></br>
        <label for="password">Password</label>
        <input type="text" name="password"></br>
        <input type="submit">
    </form>

</body>
</html>