<%- include('../includes/head') %>
<style>
    .main {
        width: 80%;
        margin: 0 auto;
    }
    .main .heading {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        margin-top: 50px;
    }
    .main .button {
        width: 300px;
        margin: 15px auto;
        margin-top: 25px;
        padding: 13px 0;
        font-size: 16px;
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, .9);
        text-align: center;
    }
</style>
</head>
<body>

    <%- include('../includes/navigation') %>

    <div class="main">
        <div class="heading">Thank you for creating an account. You can now access the Investor Portal</div>
        <a href="/"><div class="button">Process to Investor Portal</div></a>
    </div>

</body>
</html>