<%- include('../includes/head') %>

<style>
    .main {
        width: 100%;
    }
    .heading-main {
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgb(7, 45, 81);
        padding: 15px 20px;
    }
    .content {
        width: 85%;
        margin: 0 auto;
        display: flex;
    }
    .content .left {    
        width: 75%;
    }
    .content .left .header {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .content .left .header .image-box {
        width: 25%;
    }
    .content .left .header .image-box .image {
        width: 100%;
    }
    .content .left .header .text {
        width: 75%;
        padding-left: 60px;
    }
    .content .left .header .text .name {
        font-size: 28px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .content .left .header .text .by {
        font-size: 18px;
        font-weight: bold;
    }
    .content .left .form-box { 
        width: 100%;
        border: 1px solid #f89509;
        margin-top: 20px;
        background-color: rgb(254, 245, 232);
        margin-bottom: 30px;
    }
    .content .left .form-box .heading {
        display: flex;
        background-color: rgb(252, 202, 133);
        padding: 15px;
        margin-bottom: 1px solid #f89509;
    }
    .content .left .form-box .heading .number {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(248, 149, 9);
        color: white;
        font-size: 25px;
        text-align: center;
        margin-right: 20px;
        line-height: 50px;
        font-weight: bold;
    }
    .content .left .form-box .heading .text {
        flex: 1;
    }
    .content .left .form-box .heading .text .step {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    .content .left .form-box .heading .text .details {
        font-size: 18px;
    }
    .content .left .form-box .form {
        padding: 35px 50px;
    }
    .content .left .form-box .assistance {
        display: flex;
        margin-bottom: 30px;
    }
    .content .left .form-box .assistance .help-box {
        width: 10%;
    }
    .content .left .form-box .assistance .help-box img {
        width: 100%;
    }
    .content .left .form-box .assistance .help-text {
        width: 90%;
        padding-left: 60px;
        font-size: 18px;
    }
    .content .left .form-box .form .approval {
        font-size: 18px;
    }
    .content .left .form-box .form .approval .main {
        font-weight: bold;
    }
    .content .left .form-box .form .sign-heading {
        font-weight: bold;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content .left .form-box .form .details {
        font-size: 18px;
    }
    .content .left .form-box .form .file-upload {
        width: 200px;
        padding: 10px;
        font-size: 18px;
        border: 1px solid rgb(248, 149, 9);
        text-transform: uppercase;
        background-color: rgb(248, 149, 9);
        color: white;
        cursor: pointer;
    }
    .content .left .form-box .form input[type="file"] {
        display: none;
    }
    .content .left .form-box .form .document-button {
        width: 220px;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 18px;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .2);
        text-align: center;
        margin-top: 20px;
        cursor: pointer;
        background-color: transparent;
    }

    .content .left .form-box .form .error-box {
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid rgba(255, 0, 0, .2);
        border-radius: 2px;
        padding: 10px;
        background-color: rgba(255, 0, 0, .05);
    }
</style>

</head>
<body>
    
    <%- include('../includes/navigation') %>

    <div class="main">
        <div class="heading-main">Transaction Center</div>
        <div class="content">
            <div class="left">
                <div class="header">
                    <div class="image-box">
                        <img class="image" src="images/invesmentProperty/<%= invesmentId %>/img.jpeg" alt="">
                    </div>
                    <div class="text">
                        <div class="name">Invesmnet</div>
                        <div class="by">By Boron Capital</div>
                    </div>
                </div>
                <div class="form-box">
                    <div class="heading">
                        <div class="number">2</div>
                        <div class="text">
                            <div class="step">Documents</div>
                            <div class="details">Please review, sign and return the documents</div>
                        </div>
                    </div>  

                    <div class="form">

                        <% if (error != null) { %>
                            <div class="error-box"><%= error %></div>
                        <% } %>

                        <div class="approval">
                            <span class="main">Your offer has been pre-approved</span>
                            Please review and sign the documents using one of the following options
                        </div>
                        <div class="sign-heading">E mail</div>
                        <div class="details">
                            Signing electronically is the fastest way to provide your closing documents.We use third party service DocuSign. When you're done, you will be returned to the closing center for the next step in the process.
                        </div>

                        <form action="/documents" method="POST" enctype="multipart/form-data">
                            <label id="label-btn" for="" class="file-upload">Upload Signature</label>
                            <input id="file-btn" type="file" name="signature">
                            <span class="filename"></span>
                            <input type="submit" class="document-button" value="Upload Signature">
                        </form>
                        
                    </div>

                    <div class="assistance">
                        <div class="help-logo">
                            <img src="" alt="">
                        </div>
                        <div class="help-text">
                            For assistance, call <b>(833) 822-7435</b> or text <b>(305) 407-0276</b> or email <b>invest@cardonecapital.com</b>
                        </div>
                    </div>

                </div>
            </div>
            <div class="right"></div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $('#label-btn').bind("click" , function () {
            $('#file-btn').click();
        });
    </script>

</body>
</html>