<%- include('../includes/head') %>

<style>
    .main {
        width: 100%;
        margin-bottom: 30px;
    }
    .heading-main {
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: rgb(7, 45, 81);
        padding: 15px 20px;
    }
    .content {
        width: 85%;
        margin: 0 auto;
    }
</style>

</head>
<body>
    
    <%- include('../includes/navigation') %>

    <div class="main">
        <div class="heading-main">My Documents</div>
        <div class="content">
            <ul class="list">
                <li><a href="">Signature Document</a></li>
            </ul>
        </div>
    </div>

</body>
</html>