<%- include('../includes/head') %>

<style>
    .main {
        width: 80%;
        margin: 0 auto;
        padding-top: 30px;
    }

    .main .heading {
        text-align: center;
        color: black;
        font-size: 24px;
    }

    .main .stage {
        display: flex;
        justify-content: center;
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .main .stage .element {
        width: 225px;
        margin: 0 20px;
        border: 1px solid #f89509;
        padding: 15px 25px;
        background-color: rgb(254, 245, 232);
    }

    .main .stage .element-on {
        background-color: rgb(252, 202, 133);
    }

    .main .stage .element .text {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .main .stage .element .tick {
        
    }

    .primary-text {
        font-size: 15px;
        color: rgba(0, 0, 0, .9);
    }

    .form {
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 20px;

        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form .element {
        
    }

    .form .element .label {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form .element .input {
        padding: 7px 10px;
        font-size: 16px;
        width: 100%;
    }

    .agreement-heading {
        margin: 20px 0;
        font-size: 18px;
        font-weight: bold;
    }

    .submit-button {
        display: inline;
        width: 300px;
        margin: 15px auto;
        margin-top: 25px;
        padding: 13px 0;
        font-size: 16px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #2e9910;
        border: none;
        border-radius: 2px;
        transition: all .2s;
        cursor: pointer;
    }

    .submit-button:hover {
        background-color: #15300e;
    }

    .link, .link:visited {
        color: rgb(248, 149, 9) !important;
        text-decoration: none;
    }

    .primary-text {
        font-size: 16px;
        line-height: 1.4; 
    }

    .assistance {
        padding: 14px 0;
        display: flex;
        margin-bottom: 40px;
        margin-top: 20px;
        width: 100%;
        background-color: rgb(254, 245, 232);
        border: 1px solid #f89509;
    }
    .assistance .help-logo {
        
    }
    .assistance .help-text {
        padding-left: 60px;
        font-size: 18px;
    }
</style>

</head>
<body>
    
    <%- include('../includes/navigation-no-link') %>

    <div class="main">
        <div class="heading">
            Get Access to Institutional-Quality Investment Offerings
        </div>
        <div class="stage">
            <div class="element">
                <div class="text">Create Account</div>
                <div class="tick"></div>
            </div>
            <div class="element element-on">
                <div class="text">Complete Profile</div>
                <div class="tick"></div>
            </div>
            <div class="element">
                <div class="text">Start Investing</div>
                <div class="tick"></div>
            </div>
        </div>
        <div class="primary-text">
            Please complete your profile to gain access to private investment offerings.
        </div>
        <form class="form" action="/profile" method="POST">
            <input type="hidden" name="_id" value="<%= user._id %>">

            <div class="grid">
                <div class="element">
                    <label class="label" for="">Address</label>
                    <input class="input" type="text" name="address" autocomplete="off">
                </div>
                <div class="element">
                    <label class="label" for="">City</label>
                    <input class="input" type="text" name="city" autocomplete="off">
                </div>
                <div class="element">
                    <label class="label" for="">Postal Code</label>
                    <input class="input" type="text" name="zip" autocomplete="off">
                </div>
                <div class="element">
                    <label class="label" for="">Country</label>
                    <input class="input" type="text" name="country" autocomplete="off">
                </div>
                <div class="element">
                    <label class="label" for="">State</label>
                    <input class="input" type="text" name="state" autocomplete="off">
                </div>
                <div class="element">
                    <label class="label" for="">Primary Phone</label>
                    <input class="input" type="text" name="phone" autocomplete="off">
                </div>
            </div>
            
            <div class="element">
                <div class="label" class="text">
                    Are you an accredited investor or do you invest on behalf of an accredited investing entity?
                    (<a href="" class="link">View Definition</a>)
                </div>
                <input class="radio" type="radio" name="accreditedInvestor" value="true">Yes<br>
                <input class="radio" type="radio" name="accreditedInvestor" value="false">No
            </div>
            <div class="agreement-heading">Agreement</div>
            <div class="primary-text">
                I understand that the project sponsor will be relying on my certification as to if I am an accredited investor or not, in making opportunities available to me, and that the consequences of a false certification would be significant (including the possibility of a loss of an otherwise available registration exemption to the issuer). I agree that I will be responsible for any losses that are incurred as a result of a false certification or my continued use of the website after obtaining knowledge that a prior certification is no longer true. I agree to immediately inform the project sponsor of any change to my status as an investor.</br></br>


                I further understand that, there are certain investment opportunities (not applicable for upcoming Reg A Fund offerings) that are only open to accredited investors and that during that investment process, I will be required, by the United States Securities Regulations, to provide or upload documents which support my certification above that I qualify as an accredited investor, such as W-2s, tax returns, investment account statements, a third-party confirmation from my accountant or broker, and/or any other documents (in each case redacted to eliminate social security numbers, account numbers or other similar sensitive personal identifying or financial information) that will enable issuers to reasonably evaluate my accredited investor status.
            </div>
            <input class="submit-button" type="submit" value="Submit and proceed">
        </form>

        <div class="assistance">
            <div class="help-logo">
                <img src="" alt="">
            </div>
            <div class="help-text">
                For assistance, call <b>(833) 822-7435</b> or text <b>(305) 407-0276</b> or email <b>invest@cardonecapital.com</b>
            </div>
        </div>

    </div>

</body>
</html>